# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
anom_termic = [-0.08,-0.27,0.12,-0.3,0.26,0.40,1.02]
SerieAnomTermicSemIndex = pd.Series(anom_termic)
SerieAnomTermicSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.30
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
# seu código aqui
anos = [1900,1920,1940,1960,1980,2000,2020]
SerieAnomTermicComIndex = pd.Series(anom_termic,index=anos)
SerieAnomTermicComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.30
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
# seu código aqui
SerieTempDic = pd.Series(dic_temperaturas)
SerieTempDic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20,3))
arr
# seu código aqui
NumAleat = pd.DataFrame(arr, columns=['1','2','3'])
NumAleat

             1           2           3
0    85.652581  101.447801   97.351551
1    93.866196   78.583050   93.496709
2   108.978158  120.334951   90.168757
3   102.111370   92.465542   84.279363
4   108.655411  101.710579  109.196069
5    91.087902   99.125628  100.258112
6    94.684449   92.974707  122.292410
7   116.510822   91.011907   99.656482
8   100.656924  106.656454  108.950826
9    99.989246  101.190158  113.235593
10  107.351453   97.049960   89.238831
11  100.289223  112.935541   97.336869
12  104.480445  112.511225  101.054087
13   95.932562  110.283783   95.433697
14   95.152807  108.009398  101.074559
15  104.268672   97.610042   96.749282
16   91.656730  100.941521  102.914425
17   87.511347  108.040262  101.380487
18   85.810530   98.627321   98.645524
19  102.295317   91.399515   99.910406

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [36]:
#seu código aqui
indices = []
for i in range(1,21,1):
    indice = f'x{i}'
    indices.append(indice)

NumAleat = pd.DataFrame(arr,index=indices,columns=['1','2','3'])
NumAleat

              1           2           3
x1    85.652581  101.447801   97.351551
x2    93.866196   78.583050   93.496709
x3   108.978158  120.334951   90.168757
x4   102.111370   92.465542   84.279363
x5   108.655411  101.710579  109.196069
x6    91.087902   99.125628  100.258112
x7    94.684449   92.974707  122.292410
x8   116.510822   91.011907   99.656482
x9   100.656924  106.656454  108.950826
x10   99.989246  101.190158  113.235593
x11  107.351453   97.049960   89.238831
x12  100.289223  112.935541   97.336869
x13  104.480445  112.511225  101.054087
x14   95.932562  110.283783   95.433697
x15   95.152807  108.009398  101.074559
x16  104.268672   97.610042   96.749282
x17   91.656730  100.941521  102.914425
x18   87.511347  108.040262  101.380487
x19   85.810530   98.627321   98.645524
x20  102.295317   91.399515   99.910406

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [37]:
# seu código aqui
media = (NumAleat['1']+NumAleat['2']+NumAleat['3'])/3
media
NumAleat['media'] = media
NumAleat

              1           2           3       media
x1    85.652581  101.447801   97.351551   94.817311
x2    93.866196   78.583050   93.496709   88.648652
x3   108.978158  120.334951   90.168757  106.493955
x4   102.111370   92.465542   84.279363   92.952092
x5   108.655411  101.710579  109.196069  106.520687
x6    91.087902   99.125628  100.258112   96.823881
x7    94.684449   92.974707  122.292410  103.317189
x8   116.510822   91.011907   99.656482  102.393070
x9   100.656924  106.656454  108.950826  105.421401
x10   99.989246  101.190158  113.235593  104.804999
x11  107.351453   97.049960   89.238831   97.880081
x12  100.289223  112.935541   97.336869  103.520544
x13  104.480445  112.511225  101.054087  106.015252
x14   95.932562  110.283783   95.433697  100.550014
x15   95.152807  108.009398  101.074559  101.412255
x16  104.268672   97.610042   96.749282   99.542666
x17   91.656730  100.941521  102.914425   98.504225
x18   87.511347  108.040262  101.380487   98.977365
x19   85.810530   98.627321   98.645524   94.361125
x20  102.295317   91.399515   99.910406   97.868413

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [38]:
# seu código aqui
NumAleat['log_med'] = np.log(NumAleat['media'])
NumAleat

              1           2           3       media   log_med
x1    85.652581  101.447801   97.351551   94.817311  4.551952
x2    93.866196   78.583050   93.496709   88.648652  4.484681
x3   108.978158  120.334951   90.168757  106.493955  4.668088
x4   102.111370   92.465542   84.279363   92.952092  4.532084
x5   108.655411  101.710579  109.196069  106.520687  4.668339
x6    91.087902   99.125628  100.258112   96.823881  4.572894
x7    94.684449   92.974707  122.292410  103.317189  4.637804
x8   116.510822   91.011907   99.656482  102.393070  4.628819
x9   100.656924  106.656454  108.950826  105.421401  4.657966
x10   99.989246  101.190158  113.235593  104.804999  4.652101
x11  107.351453   97.049960   89.238831   97.880081  4.583743
x12  100.289223  112.935541   97.336869  103.520544  4.639770
x13  104.480445  112.511225  101.054087  106.015252  4.663583
x14   95.932562  110.283783   95.433697  100.550014  4.610655
x15   95.152807  108.009398  101.074559  101.412255  4.619194
x16  104.268672   97.610042   96.749282   99.542666  4.600586
x17   91.656730  100.941521  102.914425   98.504225  4.590099
x18   87.511347  108.040262  101.380487   98.977365  4.594891
x19   85.810530   98.627321   98.645524   94.361125  4.547129
x20  102.295317   91.399515   99.910406   97.868413  4.583624